*,
*::before,
*::after {
    box-sizing: border-box;
}

.main-title {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    background-color: blue;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* styling templates for search bar and button from W3 Schools */

section.city-search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
}

section.city-search button {
    float: left;
    width: 7%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.tree ul {
    list-style-type: none;
}

.tree li {
    margin: 5px;
    padding: 5px;
    position: relative;
}

.tree input {
    margin-right: 10px;
}

.tree label {
    cursor: pointer;
}

.tree ul ul {
    display: none;
}

.tree input:checked + ul {
    display: block;
}